.login-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .logo-container {
    text-align: center;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .login-button:hover {
    background-color: #2980b9;
    color: #fff;
    cursor: pointer;
  }
  
  .login-button {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  .button-container {
    width: 200%;
    text-align: center;
  }
  
  .login-button {
    background-color: white;
    color: #2980b9;
    padding: 10px 20px;
    border-radius: 4px;
    width: 7.5%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
  }
  
  .logo-img {
    width: 45%;
    height: 45%;
  }
  
  .center-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .text-content-wrapper {
    margin-bottom: 20px;
  }
  
  .text-content {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
  }
